:root{
    --color: #ffffff;
    --background-color: #0000ff;
    --border-color:  #ffff00 ;
    --hover-color: #3705ad;
    --Emphasis-color: #ff0000de;

}

body {
    background-color:#0000ff;
    color: #ffffff;
}

header {
    color: #ff0000de;
    font-size: 48px;
    display: flex;
}

.nav-bar {
    display: inline-block;
    justify-content: flex-end;
    font-size: 24px;
    padding: 10px;
    margin: auto;

}

ul {
    margin: 0;
    padding: 15px 15px 5px 15px;
    list-style: none;
}

li {
    display: inline-block;
    margin-right: 0;
}

a {
    text-align:center;
    list-style: none;
    padding: 15px;
    color:#ffff00
}

.nav-bar a:hover {
    color:#ffffff;

}

 #background-image {
    display: flex;
    margin: 0;
}

#Container-background-image {
    max-height: 200pt;
    width: 100%;
}

.container {
    position: relative;
    text-align: center;
    color:#ffffff
}

.in-picture {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 30px;
    color: var(--color)
}

.Flexbox-Work {
    display: flex;
    margin: 10px;
}

.Learning {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border-color: var(--hover-color)
}

