:root{
    --color: #ffffff;
    --background-color: #0000ff;
    --border-color:  #ffff00 ;
    --hover-color: #3705ad;
    --Emphasis-color: #ff0000de;

}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--color);
}

/* Start of Navigation Flexbox */
header {
    font-size: 48px;
    display: flex;
    padding: 15px;
    justify-content: space-between;

}
/* Name Color */
h1 {
    color: var(--Emphasis-color);
}
/* Heading info */
h2 {
    color: var(--Emphasis-color);
    justify-self: flex-start;
    font-size: 35px;
    Padding: 5pt;
}

/* Navigation bar flex-box info */
ul {
    justify-content: space-between;
}

li {
    display: inline-block;
}

a {
    color: var(--border-color);
    font-size: 25px;
    padding: 20px;
    margin: auto;
}

img {
    justify-content: flex-end;
    text-align:center;
    list-style: none;
    color: var(--border-color)
}

.nav-bar a:hover {
    color: var(--color);

}

.container {
    position: relative;
    text-align: center;
    color: var(--color)
}

.Learn-box {
    display:flex;
    justify-content: center;
    position: relative;
}

.in-picture {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 30px;
    color: var(--color)
}

.container-4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20pt;
    margin-left: 10pt;
}

.Box {
    justify-content: space-around;
    border: 3pt solid #3705ad;
    margin: 30pt auto;
    width: 300pt;
    height: 300pt;
    position: relative;
}

.Coming-Soon {
    background: url(./images/jon-tyson-XmMsdtiGSfo-unsplash.jpg); 
    background-size: cover;
}

.Have-Not-Decided {
    background: url(./images/jane-almon-7rriIaBH6JY-unsplash.jpg);
    background-size: cover;
}

.Wait-for-it {
    background: url(./images/alexandra-khudyntseva-IrIa0u6Nz38-unsplash.jpg);
    background-size: cover;
}

.Bam {
    background: url(./images/ray-hennessy-gdTxVSAE5sk-unsplash.jpg);
    background-size: cover;
}


.All-Captions {
    position:absolute;
    align-items: flex-start;
    top: 33px;
    left: 47px;
    font-size: 30px;
    color: var(--hover-color);
}

#About-Me-text {
    padding-bottom: 40px;
}

#Container-background-image {
    height: 200pt;
    width: 100%;
}

#Learning {
    height: 80%;
    width: 100%;
    border: 3pt solid var(--hover-color);
}

#Bam-Caption {
    color: var(--color);
}

@media screen and (max-width: 768px) {
    header,
    main {
      flex-direction: column;
    }
  
    section {
        padding-right: 0;
      } 
  
    .container-4 {
        display: flex;
        flex-wrap: wrap;
        margin-top: 2%;
    }   

